body {
    margin: 20px;
}
h2 {
    background-color: burlywood;
    color: blue;
    padding: 20px;
}
#imageId {
    position: relative;
    height: 300px;
    float: left;
    margin: 5%;
        
}
.desc {
    margin-right: 20px;
}


.header {
    text-align: center;
    color: blue;
    background-color: burlywood;
    padding: 20px;
    font-weight: bold;
}
.section {
    /*position: relative;*/
    display: inline-block;    
    left: 10px;
}
#nav {
    border:2px solid burlywood ;
    font: 20px sans-serif;
    padding: 5px;
    margin-bottom: 20px;
}
#nav li {
    display: inline;
    text-decoration: none;
    overflow: hidden;
}
#nav a {
    border: 1px solid lightblue;
    background-color: rgb(31, 95, 192);
    color: wheat;
    text-decoration: none;
    
}
#nav a:hover {
    border: 2px solid lightblue;
    background-color: rgb(134, 15, 70);
    color: rgb(179, 245, 234);
    text-decoration: none;
    
}
.footer {
    height: 80px;
    bottom: 0px;
    text-align: center;
    color: blue;
    background-color: burlywood;
    padding: 5px 5px;
    
}
.contakt {
    background: rgb(200, 227, 236);
    margin: 8% 8%;
    text-align: center;
}
.contakt label {
    color: blue;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
@media only screen and (man-width: 768px) {
    /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
  }
